@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.p-10{
  padding: 10px;
}